.header {
  height: 6rem;
  background-color: var(--color-grey-900);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header ul {
  list-style: none;
  display: flex;
  align-items: center;
	align-content: center;
	justify-content: flex-end;
  margin: 0;
	font-weight: bold;
	height: 2.5rem;
}

.header li {
	height: 2.5rem;
	padding: 10px;
	padding-left: 17px;
	padding-right: 17px;
}

.header a {
  color: var(--color-grey-100);
  font-size: var(--size-4);
}

.header a:hover,
.header a:active,
.header a.active {
  color: var(--color-grey-200);
}